# Outputs File Directory
analysis_runs/*

# pixi environments
.pixi/*
.pixi/config.toml

# python environments
.venv/
.env/
.env.local/
.env.development.local/
.env.test.local/
.env.production.local/

# Jupyter Notebooks
.ipynb_checkpoints/
.virtual_documents/

# QualW2 files
.model/W2CodeCompilerVersion.opt
.model/W2Errordump.csv
.model/flowbal.csv
.model/str_br1.csv
.model/VOLUME_WB1.OPT